<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap%22" rel="stylesheet">
</head>
<body>
	<div class="menu">
		<div class="heading">
			<h1><b><i>VILLAINS CLUB</i></b></h1>
			<h3><b><i>MENU</i></b></h3>
		</div>
		<div class="food-items">
			<img src="https://images.newindianexpress.com/uploads/user/imagelibrary/2020/7/19/w900X450/Post_tests-.jpg" >
			<div class="details">
				<div class="details-sub">
					<h5>BEER</h5>
				</div>
				<button (click)="checkAvailability('beer')" >check availablilty</button>
			</div>
		</div>

        <div class="food-items">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpuJGYK2GG89s9hb0tONt1d4YXBYSXYTgDOA&usqp=CAU" >
			<div class="details">
				<div class="details-sub">
					<h5>VODKA</h5>
				</div>
				<button (click)="checkAvailability('vodka')" >check availablilty</button>
			</div>
		</div>
        <div class="food-items">
			<img src="https://ds393qgzrxwzn.cloudfront.net/resize/m600x500/cat1/img/images/0/8AUDhkbc0Y.jpg" >
			<div class="details">
				<div class="details-sub">
					<h5>RUM</h5>
				</div>
				<button (click)="checkAvailability('rum')" >check availablilty</button>
			</div>
		</div>
        <div class="food-items">
			<img src="https://www.news-medical.net/image.axd?picture=2020%2F1%2Fshutterstock_647463025.jpg" >
			<div class="details">
				<div class="details-sub">
					<h5>WINE</h5>
				</div>
				<button (click)="checkAvailability('wine')" >check availablilty</button>
			</div>
		</div>
        <div class="food-items">
			<img src="https://www.telegraph.co.uk/content/dam/business/spark/three-barrels/brandy-bottle-with-brandy-poured-into-crystal-glass-from-copper-measure-xlarge.jpg" >
			<div class="details">
				<div class="details-sub">
					<h5>BRANDY</h5>
				</div>
				<button (click)="checkAvailability('brandy')" >check availablilty</button>
			</div>
		</div>
        <div class="food-items">
			<img src="https://cdn.britannica.com/71/192771-050-CEF9CEC3/Glass-scotch-whiskey-ice.jpg" >
			<div class="details">
				<div class="details-sub">
					<h5>WHISKEY</h5>
				</div>
				<button (click)="checkAvailability('whiskey')" >check availablilty</button>
			</div>
		</div>
	</div>

</body>
</html>
