<html>
  <body class="body">
<main class="form-signin">    
      <h1 class="w retro">SIGN UP</h1>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="name">
        <label for="floatingInput">Name</label>
      </div>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="email">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" minlength="6" placeholder="Password" [(ngModel)]="password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating">
        <input type="tel"  class="form-control" pattern="[6-9]{1}[0-9]{9}"  placeholder="Phone Number" [(ngModel)]="phNo">
        <label for="floatingPhoneNumber">PhoneNumber</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" id="subbut" type="submit" (click)="Register()">Sign up</button>
  </main>
  </body>
  </html>